Source: wright
Section: ruby
Priority: optional
Maintainer: Sebastian Boehm <sebastian@sometimesfood.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
Standards-Version: 3.9.6
Vcs-Git: git://github.com/sometimesfood/wright-debian.git
Vcs-Browser: https://github.com/sometimesfood/wright-debian
Homepage: https://github.com/sometimesfood/wright
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: wright
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: lightweight config management library
 Wright is a lightweight configuration management library.
